APP_HOST=0.0.0.0
APP_PORT=8000
APP_TITLE="Payment Processing Service"
APP_VERSION="1.0.0"
APP_DEBUG=True
APP_STATIC_API_KEY="your_very_secret_static_key_here"


POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mkkluna
POSTGRES_ECHO=False


RABBIT_HOST=rabbit
RABBIT_PORT=5672
RABBIT_USER=guest
RABBIT_PASSWORD=guest

OUTBOX_FREQUENCY=1
OUTBOX_EXCHANGE=payments




SCALE_MAX_DB_CONNECTIONS=100